[Unit]
Description=My
ProjectAfter=network.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=limit_all_ip ssh_ip
Restart=always

[Install]
WantedBy=multi-user.target
