[Unit]
Description=My
ProjectAfter=network.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=limit_all_ip trip
Restart=always

[Install]
WantedBy=multi-user.target
